@each $name, $value in $utilities {
  $utilities: map-merge($utilities, ($name: false));
}

$shadow-key-umbra-opacity: false;
$shadow-key-penumbra-opacity: false;
$shadow-key-ambient-opacity: false;

@each $name, $value in $shadow-key-umbra {
  $shadow-key-umbra: map-merge($shadow-key-umbra, ($name: false));
}

@each $name, $value in $shadow-key-penumbra {
  $shadow-key-penumbra: map-merge($shadow-key-penumbra, ($name: false));
}

@each $name, $value in $shadow-key-ambient {
  $shadow-key-ambient: map-merge($shadow-key-ambient, ($name: false));
}
